http:
  routers:
    supabase-api:
      rule: "Host(`{{API_DOMAIN}}`)"
      entryPoints:
        - websecure
      service: supabase-kong
      tls:
        certResolver: "letsencryptresolver"

  services:
    supabase-kong:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8000"
