http:
  middlewares:
    cors-supabase:
      headers:
        accessControlAllowOriginList:
          - "https://{{FRONTEND_DOMAIN}}"
        accessControlAllowMethods:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
          - OPTIONS
        accessControlAllowHeaders:
          - "*"
        accessControlAllowCredentials: true
        accessControlMaxAge: 3600

  routers:
    supabase-api:
      rule: "Host(`{{API_DOMAIN}}`)"
      entryPoints:
        - websecure
      service: supabase-kong
      middlewares:
        - cors-supabase
      tls:
        certResolver: "{{CERT_RESOLVER}}"

  services:
    supabase-kong:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8000"
